APP_ENV=

TIKTOK_MS_TOKEN=
TIKTOK_BROWSER=
TIKTOK_HEADLESS=
WEBSHARE_API_KEY=

INSTAGRAM_USERNAME=
INSTAGRAM_PASSWORD=
INSTAGRAM_2FA_SECRET=

SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PRIVATE_KEY_PATH=
SNOWFLAKE_DATABASE=SOCIAL_MEDIA_DW
SNOWFLAKE_BRONZE_SCHEMA=BRONZE
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
